// inner pages styles
.breadcrumbs
	padding: 7px 0
	margin-bottom: 23px
	font-size: 0
	li
		display: inline
		font-size: 12px
	a
		color: #919ba6 
	span
		padding: 0 7px
		color: #246db4

.title
	margin-bottom: 20px
	padding-bottom: 8px
	border-bottom: #CAD5E5 1px solid 
	+clr
	.title__link
		float: right
		padding-top: 12px
		margin-left: 20px
		font-size: 0
		span, i
			display: inline-block
			vertical-align: middle
		span
			padding-top: 1px
			font-size: 12px
			color: $orange
			text-decoration: underline
		i
			margin-right: 10px
	.title__link-subscribe
		+s(title-link-subscribe)
	.title__text
		display: table
		+direct-scb
		font-size: 24px

.aside-nav
	padding: 20px 15px 20px 20px
	margin-bottom: 50px
	border-radius: 5px
	background-color: #fff
	box-shadow: 0 5px 10px rgba(88,106,121,.26)
	+background-image(linear-gradient(bottom, #f3f9ff 0%, #f3f9ff 0.49%, #fff 100%))
	>ul
		>li
			margin-bottom: 5px
			>a
				display: inline-block
				padding: 6px 10px
				border-radius: 14px
				text-decoration: none
				i
					display: inline-block
					margin-left: 5px
					+s(aside-nav-arr)
				&:hover
					color: #E98500 
					i
						+s(aside-nav-arr-h)
			&.is-active
				>a
					background: #e98500
					color: #fff
					i
						+s(aside-nav-arr-a)
			
.gallery
	position: relative
	margin-bottom: 60px
	.gallery__prev, .gallery__next
		position: absolute
		top: 160px
		opacity: .5
		+tr(opacity .2s linear) 
		&:hover
			opacity: 1 
	.gallery__prev
		left: -25px
		+s(gallery-prev)
	.gallery__next
		right: -25px
		+s(gallery-next)
	.gallery__photos
		margin-bottom: 22px
		+img
	.gallery__item
		width: 100%
		img
			display: block
			width: 100%
			border-radius: 6px
	.gallery__description
		position: absolute
		left: 20px
		bottom: 20px
		right: 20px
		padding: 15px 25px
		border-radius: 5px
		background: rgba(255,255,255,.85)
		+direct-c
		font-size: 18px
		color: #3b75a8 
	.gallery__previews
		margin-right: -25px
		font-size: 0
		a
			position: relative
			display: inline-block
			margin: 0 20px 20px 0
			+link-img
			vertical-align: top
			&:after
				content: ""
				position: absolute
				top: 3px
				left: 3px
				right: 3px
				bottom: 3px
				background-color: rgba(235,145,25,.8)
				border-radius: 6px
				opacity: 0
				+tr(opacity .2s) 
			&.cycle-pager-active
				cursor: default
				&:after
					opacity: 1
				&:hover
					img
						box-shadow: 0 2px 9px rgba(49, 86, 122, 0.67)
		img
			display: block

.date
	font-style: italic
	color: #919BA6 

.pager
	font-size: 0
	text-align: center
	.pager__title, .pager__list
		display: inline-block
		vertical-align: middle
	.pager__title
		margin-right: 32px 
		font-size: 12px
	.pager__list
		font-weight: bold
		a
			display: inline-block
			min-width: 10px
			padding: 4px 6px
			margin-right: 6px
			color: $cl 
			vertical-align: middle
			font-size: 12px
			&.is-active
				background: #FAF4CA 
				text-decoration: none
		.pager__prev, .pager__next
			padding: 0
		.pager__prev
			margin-right: 16px
			+s(pager-prev)
		.pager__next
			margin-left: 10px
			+s(pager-next)

.back
	a
		font-size: 0
		&:hover
			span
				text-decoration: none 
	i, span
		display: inline-block
		vertical-align: middle
		font-size: 12px
	span
		text-decoration: underline
	i
		position: relative
		top: -1px
		margin-right: 10px 
		+s(back-arr)

.fact
	margin-bottom: 40px
	&:after
		content: ""
		position: absolute
		right: 20px
		left: 20px
		bottom: 50px
		height: 10px
		box-shadow: 0 0 20px 10px #d9d5cf 
		+rotate(4)
		z-index: 2
	.fact__in	
		position: relative
		padding: 15px 25px 40px
		background-color: #f5f0e9
		+g(#f7f3ec, #fff)
		z-index: 4 
	.fact__title		
		margin-bottom: 10px
		+direct-c
		font-size: 18px
	.fact__text
		font-style: italic
		color: #919BA6 
		line-height: 1.6
			
.content
	margin-bottom: 40px
	line-height: 1.6
	+clr
	h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote
		margin-bottom: 15px
	h1, h2, h3, h4, h5, h6
		line-height: 1.2
		font-weight: normal 
	h1
		+direct-scb
		font-size: 24px 
	h2
		+direct-scb
		font-size: 20px
	h3
		+direct-c
		font-size: 18px
	h4
		+direct-scb
		font-size: 16px
	h5
		+direct-scb
		font-size: 14px
	h6
		font-size: 13px
	ul
		li
			position: relative
			margin-bottom: 10px
			padding-left: 48px 
			&:before
				content: ""
				position: absolute
				top: 5px
				left: 19px
				width: 7px
				height: 7px
				background: #0A589B
				border-radius: 50% 
	ol
		counter-reset: list
		li
			position: relative
			padding-left: 30px 
			margin-bottom: 10px
			&:before
				counter-increment: list
				content: counter(list) "."
				position: absolute
				top: -4px
				left: 0
				font-size: 16px
				color: #E98500 
	a
		+link-img
	>img
		float: left
		margin: 0 27px 30px 0
		+img
	blockquote
		padding: 20px 45px
		border-radius: 5px
		background: #f9f3c9
		line-height: 1.6
		font-weight: bold 
		color: #54402D

			












