// default layout
.l-center, .l-layout
	max-width: 1160px
	margin: 0 auto	
	+clr
	+r(w1280)
		padding: 0 20px
		+box 
.l-layout_medium
	max-width: 1000px
.l-layout_small
	max-width: 960px
.l-layout
	padding-bottom: 60px
.l-aside
	position: relative
	float: left
	width: 205px
	z-index: 4 
.l-section 
	position: relative
	float: left
	width: 100%
	margin: 0 0 0 -205px
	z-index: 2 
.l-section__in	
	padding: 0 50px 0 295px