// Normally mainpage styles
.catalog
	position: relative
	margin-bottom: 30px
.catalog__bg
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	img
		position: absolute
		top: 0
		left: 0
		right: 0
		max-width: 100%
		+opacity(0)
		+tr(opacity 800ms)
		&.is-active
			+opacity(1)
.catalog__inner
	position: relative
	width: 766px
	margin: 0 auto
	z-index: 2
.catalog__title
	margin-bottom: 40px
	text-align: center
	font-size: 24px
	color: #006db2
	+direct-scb
.catalog__tabs
	position: relative
	border-radius: 20px
	padding: 55px 40px 30px 
	background: #f8fcff 
	+background-image(linear-gradient(top, #fff 0%, #f1f9ff 100%))
	+box-shadow(0px 25px 37px -15px #94aec4)
.catalog__tabs-nav
	position: absolute
	top: -20px
	left: 0
	right: 0
	text-align: center
.catalog__tabs-content
	+clr
	min-height: 300px
.catalog__left
	float: left
	width: 190px
.catalog__mid
	float: left
	width: 340px
.catalog__right
	float: left	 
.catalog__tabs-list
	+clr
	display: inline-block 
	border-radius: 14px
	background: #e8edf2
	+background-image(linear-gradient(top, #fefefe 0%, #ecf0f5 49%, #e2e8ef 50%, #f9fafc 100%))
	+box-shadow(0 4px 5px 0 #aac5d5)
	li
		float: left
		border-left: 1px solid #ccd8e1
		+box-shadow(inset 1px 0 1px #fff)
		&:first-child
			border-left: none
			+box-shadow(none)
			border-radius: 14px 0 0 14px
			a
				border-radius: 14px 0 0 14px
		&:last-child
			border-radius: 0 14px 14px 0
			a
				border-radius: 0 14px 14px 0	 
.catalog__tabs-link
	display: block
	padding: 8px 20px 
	text-align: center
	+direct-c
	font-weight: bold
	font-size: 16px
	color: #0076ab
	span
		display: inline-block
		border-bottom: 1px dotted #495762
		+tr(all 200ms)
		+text-shadow(0 1px 1px #fff)
	&:hover
		color: #ff8600
		span
			border-bottom: 1px dotted #dfe7ee
	&.is-active
		+box-shadow(0 3px 5px -1px #efb20e)
		color: #fff
		background: #f3b500
		+background-image(linear-gradient(top, #e46000 0%, #fbe400 100%))
		span
			+text-shadow(0 1px 1px #d38d00)
			border-bottom: 1px dotted transparent
.catalog__link
	position: relative
	display: inline-block
	margin-bottom: 8px
	height: 27px
	padding: 0 24px 0 10px 
	line-height: 27px
	border-radius: 13px
	color: #253242
	text-decoration: none
	+direct-c
	font-size: 18px
	color: #253242
	+tr(background 200ms)
	&:before
		content: ""
		position: absolute
		top: 8px
		right: 8px
		+s(link-right)
	&:hover
		color: #fff
		background: #e98500
		&:before
			+s(link-right-h)
.catalog__sublink
	position: relative
	display: inline-block
	margin-bottom: 4px
	padding: 3px 13px 3px 10px
	border-radius: 12px
	font-size: 12px
	color: #006db8
	text-decoration: none
	+tr(background 200ms)
	i
		display: inline-block
		margin-left: 8px
		+s(link-right-s)
	&:hover
		color: #fff
		background: #e98500
		i
			+s(link-right-s-h)
.catalog__sublist
	&.is-wide
		+clr
		ul
			float: left
			width: 160px
.catalog__phrase
	float: right
	padding-top: 30px
	width: 290px
	height: 77px
	background: url(../img/phrase.png) 0 0 no-repeat
	text-align: right
	+direct-i
	font-size: 16px
	color: #182e41
	span
		color: #8e9ca8
		font-size: 12px
		
.banners
	position: relative
	padding-top: 50px
	overflow: hidden
	padding-bottom: 58px
	+g(#d5ebf7, #fff)
	&:before
		content: ""
		position: absolute
		top: -39px
		width: 100%
		height: 24%
		background: #E4EDF7
		border-radius: 50%
.banners__slider
	font-size: 0
	width: 100%
	overflow: hidden 
.banners__item
	display: inline-block
	+justify
.banners__link
	position: relative
	+justify-child
	width: 276px
	height: 144px
	border: 3px solid #fff
	border-radius: 11px
	overflow: hidden
	&:after	
		content: ""
		position: absolute
		top: -10px
		left: 0
		right: 0
		height: 10px
		+box-shadow(0 0 70px 10px rgba(255,255,255,1))
		+opacity(1)
		+transition(opacity 200ms)
	img
		width: 100%
		height: 100%
		border-radius: 8px
	&:hover
		&:after
			+opacity(0)
	&.is-center
		width: 569px
		+r(w1280)
			height: 120px
			width: 470px 
	+r(w1280)
		width: 226px
		height: 120px	
.benefits
	position: relative
	background: #fff
	margin-bottom: 55px
	
.benefits__title
	margin-bottom: 35px
	+direct-scb
	font-size: 20px
	color: #182e41
	text-align: center
.benefits__list
	+justify
	padding-bottom: 30px
	+box-shadow(0 22px 37px -19px #87a5c3)
.benefits__item
	position: relative
	+justify-child
	width: 27%
	+box
	padding-left: 89px
	i
		position: absolute
		top: 0
		left: 0
	p
		text-align: left
		font-size: 12px
		color: #8e9ca8
		font-style: italic
		line-height: 1.6 	
.icon-mode
	+s(mode)
.icon-money
	+s(money)
.icon-logistic
	+s(logistic)
.benefits__name
	+direct-c
	font-size: 18px
	color: #182e41
	text-align: left
	margin-bottom: 15px 	

.board
	float: left
	width: 205px
	padding-top: 38px
	margin-right: 48px
	+r(w1280)
		width: 33%
		margin-right: 0px
.m-link
	position: relative
	display: inline-block
	margin-bottom: 20px
	font-size: 20px
	+direct-scb
	color: #182e41
	text-decoration: none
	&:before
		content: ""
		position: absolute
		right: -15px
		top: 8px
		+s(board-link-arr)
	&:hover
		color: #ff9418
		&:before
			+s(board-link-arr-h)	
.board__item
	margin-bottom: 50px
.m-post
	a
		display: inline-block
		width: 100% 
		margin-bottom: 10px
		+direct-c
		font-size: 18px
		color: #0c90cd
		+link-img
		img
			display: block
			width: 100%
			margin-bottom: 10px 
		&:hover
			color: #ff8600
			text-decoration: none
	p
		font-size: 12px
		color: #323d46
		line-height: 1.6
		margin-bottom: 5px 
.m-news 
	float: left
	width: 586px
	padding: 37px 40px 10px
	+box
	margin-bottom: 50px 
	background: #fbf9f6
	+g(#f8f3ee, #fffefe)
	+r(w1280)
		width: 33%
.m-news__topper
	margin-bottom: 15px
	.rss
		display: inline-block
		vertical-align: middle
	.m-link
		margin-bottom: 0
		margin-right: 40px
		display: inline-block
		vertical-align: middle	
.m-news__link
	margin-bottom: 0	
.m-news__row
	+clr
	margin-left: -4%
	+r(w1280)
		margin-left: 0		
.m-news__col
	float: left
	width: 46%
	margin-left: 4%
	.m-post
		margin-bottom: 20px
	+r(w1280)
		width: auto
		margin-left: 0
	&.is-last
		+r(w1280)
			display: none
.m-clinics
	float: left
	width: 320px 
	padding-top: 38px
	text-align: center
	+r(w1280)
		width: 33%
.m-clinics__img
	margin-bottom: 35px
	font-size: 0
	img
		margin-bottom: 5px 
	p
		font-size: 12px
		color: #939eac
		font-style: italic
.m-clinics__btn
	.subscribe
		margin-bottom: 5px
	p
		font-size: 12px
		color: #939eac
		font-style: italic

// catalog popup
.catalog-popup
	position: absolute
	top: 28px
	left: 10px
	right: 10px
	height: 360px
	border-radius: 15px
	background: #fff
	@include box-shadow(0 2px 20px rgba(78,106,122,.37))
	@include background-image(linear-gradient(top, #fff 0%, #fff 10%, #f9fdff 30%, #f1f9ff 100%))
	z-index: 99
.catalog-popup__header
	height: 117px
	margin: 0 5px 18px
	padding: 22px 20px 0 50px
	+box
	border-radius: 15px 15px 0 0
	background: #fff  
	@include box-shadow(0 13px 20px -4px #dfe3e7)
.catalog-popup__topper
	+clr
	margin-bottom: 15px	
.catalog-popup__title
	position: relative
	float: left
	font-size: 18px
	color: #182e41
	+direct-c
	&:before
		content: ""
		position: absolute
		top: 6px
		right: -16px
		+s(link-right)
.catalog-popup__close
	position: relative
	float: right
	margin-top: 2px
	height: 23px
	padding: 0 15px 0 25px 
	line-height: 23px
	border-radius: 6px
	border: 1px solid #d2d2d2
	background: #fefefe
	+g(#fff, #efefef)
	text-decoration: none
	font-size: 12px
	color: #182e41
	&:before
		content: ""
		position: absolute
		top: 7px
		left: 10px
		+s(catalog-back)
	&:hover
		color: #182e41
		+g(#efefef, #fff)
.catalog-popup__th
	+clr
	width: 635px
	li
		float: left
		width: 135px
		text-align: center
		font-size: 12px
		color: #8b9ba8
		&.catalog-popup__name
			width: 200px 		
.catalog-popup__container
	padding: 0 48px
.catalog-popup__inner	
	height: 196px
	outline: none
.catalog-popup__table
	width: 100%
	td
		width: 135px
		text-align: center
		font-size: 20px
		color: #323d46
		line-height: 1
		padding-bottom: 25px
		a
			font-weight: normal
			font-size: 12px
			color: #323d46
		&:first-child
			width: 200px
			text-align: left 	 			  		 	
		&.catalog-popup__price
			font-size: 12px
			font-weight: bold


		 	  
	
		 

