// moroz page styles
.document
	&.document_aside
		text-align: center
	&.document_list
		margin-right: -50px
		.document__item
			margin-right: 50px
	.document__item
		display: inline-block
		width: 150px
		margin-bottom: 40px
		text-decoration: none
		vertical-align: top
		text-align: center
		+link-img
	.document__title
		margin-bottom: 25px
		+direct-scb
		font-size: 16px
	.document__pic
		margin-bottom: 17px
		font-size: 0
	.document__link	
		display: inline
		+direct-c
		border-bottom: 1px dotted 
		font-size: 16px

.about
	margin-bottom: 50px
	.about__head
		margin-bottom: 40px
		+clr
	.about__doctor
		position: relative
		float: left
		margin: 0 50px 30px 0
		&:before
			content: ""
			position: absolute
			top: 0
			right: -30px
			+s(about-quote)
	.about__doctor-pic
		padding-left: 15px
		margin-bottom: 17px
		img
			display: block
			border-radius: 50%
			background-color: #fff
			box-shadow: 0 5px 10px rgba(88,106,121,.06)
	.about__doctor-name
		margin-bottom: 5px
		+direct-scb
		font-size: 14px
	.about__doctor-position
		+direct-i
		color: #919BA6 
	

.post
	margin-bottom: 30px
	.post__item
		padding: 30px 0
		border-top: #DADADA 1px dashed 
		+clr
		&:first-child
			border: none
	.post__pic
		float: left
		margin-right: 30px 
		a
			+link-img
		img
			display: block
	.post__date
		display: table
	.post__title
		margin-bottom: 10px
		+direct-c
		font-size: 18px
		line-height: 1.2
	.post__text
		margin-bottom: 10px
		line-height: 1.6

.news
	>.date
		margin-bottom: 10px 
	
.steps
	position: relative
	padding: 25px 0 72px
	font-size: 0
	text-align: center
	.steps__item, .steps__line
		position: relative
		display: inline-block
		vertical-align: top
	.steps__item
		width: 22px
		height: 22px
		padding: 4px
		background-color: #f3f5f9
		box-shadow: 0 1px 0 #fff, inset 0 1px 2px rgba(137,156,171,.75)
		border-radius: 50%
		+background-image(linear-gradient(bottom, #fbfdfd 0%, #dde7f7 100%))
		font-size: 12px
		z-index: 2 
		&.is-active
			.steps__number
				background-color: #d98311
				+background-image(linear-gradient(top, #f2ce45 0%, #d06312 100%))
				color: #FFF
				text-shadow: 0 1px 2px #aa6800 
	.steps__number
		display: block
		width: 22px
		height: 22px
		text-align: center
		line-height: 22px
		border-radius: 50% 
		color: #b7c1cd
		font-weight: bold
	.steps__line
		width: 150px
		margin: 12px -1px 0
		overflow: hidden
		z-index: 4 
		i
			display: block
			height: 6px  
			margin: 0 -5px
			background-color: #f3f5f9
			box-shadow: 0 1px 0 #fff, inset 0 1px 2px rgba(137,156,171,.75)
			+background-image(linear-gradient(bottom, #fbfdfd 0%, #dde7f7 100%))







