// moroz page styles
$cl: #253242
.document
	&.document_aside
		text-align: center
	&.document_list
		margin-right: -50px
		.document__item
			margin-right: 50px
	.document__item
		display: inline-block
		width: 150px
		margin-bottom: 40px
		text-decoration: none
		vertical-align: top
		text-align: center
		+link-img
	.document__title
		margin-bottom: 25px
		+direct-scb
		font-size: 16px
	.document__pic
		margin-bottom: 17px
		font-size: 0
	.document__link	
		display: inline
		+direct-c
		border-bottom: 1px dotted 
		font-size: 16px

.about
	margin-bottom: 50px
	.about__head
		margin-bottom: 40px
		+clr
	.about__doctor
		position: relative
		float: left
		margin: 0 50px 30px 0
		&:before
			content: ""
			position: absolute
			top: 0
			right: -30px
			+s(about-quote)
	.about__doctor-pic
		padding-left: 15px
		margin-bottom: 17px
		img
			display: block
			border-radius: 50%
			background-color: #fff
			box-shadow: 0 5px 10px rgba(88,106,121,.06)
	.about__doctor-name
		margin-bottom: 5px
		+direct-scb
		font-size: 14px
	.about__doctor-position
		+direct-i
		color: #919BA6 
	

.post
	margin-bottom: 30px
	.post__item
		padding: 30px 0
		border-top: #DADADA 1px dashed 
		+clr
		&:first-child
			border: none
	.post__pic
		float: left
		margin-right: 30px 
		a
			+link-img
		img
			display: block
	.post__date
		display: table
	.post__title
		margin-bottom: 10px
		+direct-c
		font-size: 18px
		line-height: 1.2
	.post__text
		margin-bottom: 10px
		line-height: 1.6

.news
	>.date
		margin-bottom: 10px 
	
.steps
	position: relative
	margin: 25px 0 72px
	font-size: 0
	text-align: center
	.steps__item, .steps__line
		position: relative
		display: inline-block
		vertical-align: top
	.steps__item
		position: relative
		width: 22px
		height: 22px
		padding: 4px
		background-color: #f3f5f9
		box-shadow: 0 1px 0 #fff, inset 0 1px 2px rgba(137,156,171,.75)
		border-radius: 50%
		+background-image(linear-gradient(bottom, #fbfdfd 0%, #dde7f7 100%))
		font-size: 12px
		&.is-active
			.steps__number
				background-color: #d98311
				+background-image(linear-gradient(top, #f2ce45 0%, #d06312 100%))
				color: #FFF
				text-shadow: 0 1px 2px #aa6800 
			.steps__line-orange
				display: block
	.steps__number
		display: block
		width: 22px
		height: 22px
		text-align: center
		line-height: 22px
		border-radius: 50% 
		color: #b7c1cd
		font-weight: bold
	.steps__line
		width: 150px
		margin: 12px -1px 0
		overflow: hidden
		i
			position: relative
			display: block
			height: 6px  
			margin: 0 -5px
			background-color: #f3f5f9
			box-shadow: 0 1px 0 #fff, inset 0 1px 2px rgba(137,156,171,.75)
			+background-image(linear-gradient(bottom, #fbfdfd 0%, #dde7f7 100%))
			z-index: 2 
	.steps__line-orange
		display: none
		position: absolute
		top: 14px
		right: 26px
		width: 156px
		height: 3px
		+g(#e5aa18, #d57510)
		z-index: 4 
	.steps__title
		position: absolute
		top: 40px
		left: 50%
		width: 150px
		margin-left: -75px
		a
			border-bottom: 1px dotted 
			text-decoration: none
	.steps__help
		position: absolute
		top: 5px
		right: 0
		i, span
			display: inline-block
			vertical-align: middle
		span
			border-bottom: 1px dotted 
			font-size: 12px
			color: #D96A00
			line-height: 1.2
		i
			position: relative
			top: -1px
			margin-right: 5px
			+s(steps-help)

.tabs_out
	>.tabs__nav
		position: relative
		font-size: 0
		text-align: center
		z-index: 2 
		a
			position: relative
			display: inline-block
			padding: 12px 25px 
			margin: 0 2px 
			border-radius: 5px 5px 0 0
			vertical-align: top
			+direct-scb
			font-size: 18px
			color: $cl 
			text-decoration: none
			overflow: hidden
			&:hover
				color: #e98500 
			&.is-active
				background-color: #fff
				box-shadow: 0 5px 10px rgba(88,106,121,.26)
				color: $cl 
				cursor: default
				&:after
					content: ""
					position: absolute
					top: 0
					left: 0
					right: 0
					height: 2px
					background: #FC7B00 
				span
					border: none
		span
			border-bottom: 1px dotted 
	>.tabs__container
		position: relative
		padding: 40px 25px 60px
		border-radius: 5px
		box-shadow: 0 5px 10px rgba(88,106,121,.26)
		+background-image(linear-gradient(bottom, #f3f9ff 0%, #f3f9ff 0.49%, #fff 100%))
		z-index: 4 

.tabs_inside
	position: relative
	text-align: center
	>.tabs__nav
		display: inline-block 
		margin-bottom: 55px
		border-radius: 14px
		background: #e8edf2
		+background-image(linear-gradient(top, #fefefe 0%, #ecf0f5 49%, #e2e8ef 50%, #f9fafc 100%))
		box-shadow: 0 4px 5px 0 #aac5d5
		font-size: 0
		vertical-align: top 
		a
			display: inline-block
			padding: 8px 20px 
			border-left: 1px dotted #ccd8e1
			box-shadow: inset 1px 0 1px #fff
			vertical-align: top
			text-decoration: none
			&:first-child
				border-left: none
				+box-shadow(none)
				border-radius: 14px 0 0 14px
			&:last-child
				border-radius: 0 14px 14px 0
			&:hover
				color: #ff8600
				span
					border-color: transparent
			&.is-active
				box-shadow: 0 3px 5px -1px #efb20e
				background: #f3b500
				+background-image(linear-gradient(top, #e46000 0%, #fbe400 100%))
				cursor: default
				span
					text-shadow: 0 1px 1px #d38d00
					border-color: transparent
					color: #fff
		span
			display: block
			border-bottom: 1px dotted 
			+tr(all .2s)
			text-align: center
			+direct-c
			font-weight: bold
			font-size: 16px
			line-height: 1.2
	>.tabs__container
		text-align: left
		
.specialty
	overflow: hidden
	.specialty__list
		margin-right: -4%
		font-size: 0
	.specialty__item
		display: inline-block
		width: 21%
		height: 43px
		margin: 0 4% 30px 0
		border-radius: 15px
		background-clip: padding-box
		background-color: #e3f1ff
		vertical-align: top
		color: $cl
		text-align: center
		text-decoration: none
		font-size: 12px
		line-height: 43px
		+tr(background-color .2s)
		&:hover
			background-color: #e98500
			color: #FFF 
			.specialty__type
				i
					+s(specialty-arr-h)
	.specialty__data
		position: relative
		top: -1px
		display: inline-block
		vertical-align: middle
		line-height: 1
	.specialty__type
		font-size: 0
		span, i
			display: inline-block
			vertical-align: middle
		span
			+direct-c
			font-size: 18px
		i
			margin-left: 10px
			+s(specialty-arr)

.doctors
	.doctors__title
		margin-bottom: 25px
		padding-bottom: 3px
		border-bottom: #DADADA 1px dashed 
		+direct-c
		font-size: 24px
	.doctors__list
		font-size: 0
	.doctors__item
		display: inline-block
		width: 22%
		padding-right: 3%
		margin-bottom: 70px
		vertical-align: top
		text-decoration: none
		+link-img
		&:hover
			.doctors__name
				text-decoration: none 
	.doctors__pic
		margin-bottom: 20px
		img
			display: block
			border-radius: 50%
	.doctors__name
		margin-bottom: 5px
		+direct-c
		font-size: 16px
		text-decoration: underline
	.doctors__position
		font-size: 12px
		color: $cl 

.services
	position: relative
	+clr
	.services__all
		position: absolute
		top: -80px
		right: 0
		border-bottom: 1px dashed 
		text-decoration: none
		line-height: 1.2
		&:before
			content: "+"
			position: absolute
			top: 0
			left: -10px
		&.is-active
			&:before
				content: "-"
	.services__column
		float: left
		width: 30%
		margin-right: 3%
	.services__item
		display: inline-block
		margin-bottom: 40px
		vertical-align: top
		&.is-active
			.services__title
				i
					+rotate(180)
	.services__title
		font-size: 0
		cursor: pointer
		span, i
			display: inline-block
			vertical-align: middle
		span
			border-bottom: 1px dotted 
			+direct-c
			font-size: 20px
			line-height: 1.1
			+tr(all .2s linear)
		i
			margin-left: 10px
			+tr(transform .2s)
			+s(services-arr)
		&:hover
			span
				color: #e98500 
			i
				+s(services-arr-h)
	.services__list
		display: none
		padding: 5px 0 0 10px
		li
			padding-top: 10px

.instructions
	display: none
	position: relative
	width: 750px 
	padding: 40px 60px 60px
	.content
		text-align: center
		i
			color: #959daa 
	.instructions__list
		position: relative
		height: 982px
		background: #FFF 
		background: url(../img/instructions.png) no-repeat 0 0 
		li
			position: absolute
			width: 200px
			padding-left: 72px
			+direct-c 
			font-size: 18px
		span
			position: absolute
			top: -2px
			left: 0
			+direct-scb
			font-size: 20px

.reception
	.reception__details
		margin: 0 130px 45px 
		padding: 10px 80px
		border-radius: 5px
		background-color: #f9f3c9
		font-size: 0
		li
			display: inline-block
			width: 30%
			margin-left: 5%
			vertical-align: top
			font-size: 12px
			&:first-child
				margin: 0
		span
			display: block
			margin-bottom: 5px
			+direct-cl
			font-size: 18px
			color: #3C2B1B 
	.reception__layout
		width: 780px
		margin: 0 auto
		+clr
	.reception__info	
		position: relative
		float: left
		width: 295px 
		&:after
			content: ""
			position: absolute
			right: 25px
			left: 30px
			bottom: 10px
			height: 20px
			box-shadow: 0 0 20px 20px #d9d5cf 
			+rotate(4)
			z-index: 2
	.reception__info-in	
		position: relative
		padding: 25px 25px 45px 
		background-color: #f5f0e9
		+g(#f7f3ec, #fff)
		text-align: center
		z-index: 4 
	.reception__info-title
		margin-bottom: 15px
		+direct-c
		font-size: 18px	 
	.reception__info-date
		+direct-scb
		font-size: 16px
	.reception__info-time
		margin-bottom: 15px
		font-size: 28px
		color: #DA8412 
		font-weight: bold 
	.reception__info-type
		margin-bottom: 15px
		font-size: 14px
	.reception__info-doctor,
	.reception__info-hospital
		margin-bottom: 5px
		font-size: 14px
		font-weight: bold
	.reception__info-profession,
	.reception__info-address
		margin-bottom: 15px
		font-style: italic
		color: #959daa
	.reception__info-change
		text-align: center
		a
			font-size: 0
			text-decoration: none
			&:hover
				span
					text-decoration: none 
		i, span
			display: inline-block
			vertical-align: middle
		i
			position: relative
			top: -1px
			margin-right: 5px
			+s(reception-info-change)
		span
			text-decoration: underline
			font-size: 12px
	.reception__form
		float: right
		width: 435px 

.schedule
	display: table
	width: 100%
	border-radius: 5px
	background-color: #fff
	box-shadow: 0 5px 10px rgba(88,106,121,.26)
	+background-image(linear-gradient(bottom, #f3f9ff 0%, #f3f9ff 0.49%, #fff 100%))
	.schedule__row
		display: table-row
		.schedule__left,
		.schedule__center,
		.schedule__right
			border-bottom: #E1F1FA 1px solid
		& + .schedule__row
			.schedule__cell
				&.is-today
					box-shadow: 1px 1px 0 #fff inset
	.schedule__left,
	.schedule__center,
	.schedule__right
		display: table-cell
		vertical-align: top
	.schedule__left
		width: 22%
	.schedule__center
		width: 60%
	.schedule__right
		width: 18%
	.schedule__row_head
		& + .schedule__row
			.schedule__cell
				&.is-today
					box-shadow: 1px 0 0 #fff inset
		.schedule__left,
		.schedule__center,
		.schedule__right
			height: 60px
			+g(#6fbce3, #1954b1)
			vertical-align: middle
			text-shadow: 0 1px 2px #106bba
			color: #FFF 
		.schedule__left
			padding: 0 25px
			border-radius: 5px 0 0
			text-align: right
		.schedule__right
			padding: 0 25px
			border-radius: 0 5px 0 0
		.schedule__table
			border-right: 1px solid rgba(0,0,0,.3)
			border-left: 1px solid rgba(255,255,255,.3) 
		.schedule__cell	
			height: 60px
			padding: 0
			border-left: 1px solid rgba(0,0,0,.3)
			border-right: 1px solid rgba(255,255,255,.3) 
			font-size: 14px
			line-height: 1.1
			vertical-align: middle
			color: #fff 
			&:first-child
				border-left: 1px solid rgba(0,0,0,.3)
			&.is-today
				+g(#148bc8, #148bc8)
				box-shadow: none
			span
				display: block
	.schedule__prev, .schedule__next
		font-size: 0
		color: #FFF
		text-decoration: none
		i, span
			display: inline-block
			vertical-align: middle
		span
			font-size: 12px
	.schedule__prev
		i
			margin-right: 5px
			+s(schedule-prev)
	.schedule__next
		i
			margin-left: 5px
			+s(schedule-next)
	.schedule__table
		display: table
		width: 100%
		table-layout: fixed
		+box
	.schedule__cell
		display: table-cell
		padding: 20px 5px 30px
		border-right: 1px solid #e1f1fa 
		vertical-align: top	
		text-align: center
		&:first-child
			border-left: 1px solid #e1f1fa 
		&.is-today
			background-color: #eff6fe
			box-shadow: 1px 0 0 #fff inset
	.schedule__day
		+direct-c
	.schedule__today
		+direct-cl
	.schedule__doctor
		padding: 20px 40px
	.schedule__doctor-pic
		margin-bottom: 20px
		img
			display: block
			+img
			border-radius: 50%
	.schedule__doctor-name
		margin-bottom: 3px
		+direct-c
		font-size: 16px
	.schedule__time
		&.is-hide
			display: none
		li
			position: relative
			margin-bottom: 15px
			>span
				color: #ACADAD 	
				font-size: 14px
				& + .schedule__help
					width: 150px
			>a
				text-decoration: none
				border-bottom: 1px dotted 
				font-size: 14px
				& + .schedule__help
					width: 215px
	.schedule__help
		position: absolute
		top: -10px
		left: 50%
		margin-left: 40px
		padding: 15px 25px
		border-radius: 5px
		background-color: #fff
		box-shadow: 0 1px 5px rgba(0,0,0,.3)
		text-align: left
		+tr(all .2s)
		visibility: hidden
		opacity: 0 
		z-index: 10 
		&:before
			content: ""
			position: absolute
			top: 10px
			left: -10px
			+s(schedule-help-arr) 
		&.is-open
			visibility: visible
			opacity: 1 
		p
			margin-bottom: 10px
			span
				display: block
				font-weight: bold
	.schedule__text
		color: #ACADAD 	
		font-size: 14px

.btn-gray
	height: 23px
	padding: 0 10px
	border: 1px solid #d1d1d1
	border-radius: 6px
	background-color: #f7f7f7
	+g(#fff, #efefef)
	font-size: 12px
	&:hover
		+g(#f9f9f9, #f3f3f3)
	&:active
		+g(#d7d7d7, #fff)







